@page "khoataikhoan.html"
@model LogoutModel

@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
           
        }
        else
        {
            <p class="text-success">Bạn đã đăng xuất khỏi ứng dụng thành công.</p>
        }
    }
</header>